@font-face {
font-family: "Cream Candy";
src: url("CustomFont.eot");
src: url("CustomFont.woff") format("woff"),
url("../fonts/Cream Candy.otf") format("opentype"),
url("CustomFont.svg#filename") format("svg");
}
@font-face {
font-family: "Product Sans";
src: url("CustomFont.eot");
src: url("CustomFont.woff") format("woff"),
url("../fonts/Product Sans Regular.ttf") format('truetype'),
url("CustomFont.svg#filename") format("svg");
}
body{
	font-family: "Product Sans";
}
/*****Flights Filter*****/
.flight-search .inputfield{
	font-size: 14px;
}
.filter-section .nav-link {
    color: #A1A1B4 !important;
    text-transform: capitalize;
}
.filter-section .nav-link {
    color: #A1A1B4 !important;
    text-transform: capitalize;
    font-weight: 500;
	font-size: 18px;
}
.flights-details{
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.filter-section .active-filter {
	color: #de5921 !important;
}
.filter-section .dropdown-toggle::after{
	font-weight: 600;
}
.flight-tabs{
	background-color: #EBECF0;
	border-radius: 50px;
	/*padding: 10px;*/
}
.flight-tabs .nav-item{
	padding-left: 0;
	padding-right: 0;
}
.flight-tabs .nav-link{
	display: flex;
}
.flight-tabs .nav-link.active{
	background-color: #de5921 !important;
	position: relative;
	border : 0;
	border-radius: 50px;
}
.plane-circle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgb(49 52 129 / 35%);
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: #fff;
  display: none;
}
.plane-circle img{
	width: 100%;
}
#main-plane{
	width: 90px;
}
.tab-text small{
	font-size: 10px;
	color: #A1A1B4;
}
.flight-tabs .nav-link.active .plane-circle{
	top: 1px;
  display: block;
  position: absolute;
  right: -5px;
  padding-top: 11px;
}
.flight-tabs .nav-link.active .tab-text{
	color: #fff !important;
	margin-left: 25px;
}
.flight-tabs .nav-link.active .tab-text small{
	color: #fff;
}
.selected-flight{
	background-color: #EBECF0;
	border-radius: 8px;
	border: 1px solid #dcdcde;
}
.selected-tag{
	background-color: #1A1C3D;
  color: #fff;
  text-transform: uppercase;
  width: 190px;
  text-align: center;
  margin-top: 15px;
  padding: 7px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  letter-spacing: 1px;
}
.flight_time{
	font-weight: 600;
  color: #DE5921;
  font-size: 24px;
}
.round-text{
	color: #1A1C3D;
  font-size: 14px !important;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Product Sans';
}
.from-text{
	color: #A1A1B4;
	font-size: 14px;
}
.flight-price{
	font-family: 'Roboto', sans-serif;
}
.active-bg{
	background-color: #de5921;
}
.booking-btn{
	background-color: #DE5921;
  font-family: 'Product Sans';
  font-size: 14px;
  line-height: 24px;
  /*letter-spacing: 1px;*/
  color: white;
  font-weight: 600;
}
.booking-btn:hover{
	color: #fff;
}
.bookingconfirm-btn {
    background-color: #DE5921;
    font-family: 'Product Sans';
    font-size: 18px !important;
    color: white;
    box-shadow: 0 8px 20px 0 #ebecf0;
    /* padding-left: 3.5rem; */
    /* padding-right: 3.5rem; */
    width: 30%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 15px;
}
.orange-color{
	color: #DE5921;
}
/* Booking Process  */
.travel-detail form input, .travel-detail form select{
	height: 45px;
	border: 1px solid #A1A1B4;
}
.travel-detail form label{
	margin-bottom: 10px;
}
.payment-box{
	border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 15px;
    padding: 15px;
    margin-right: 15px;
}
.payment-box.active{
	box-shadow: 0 8px 20px rgb(49 52 129 / 24%);
}
.payment-text{
	color: #1A1C3D;
	font-size: 25px;
	line-height: 34px;
}


/* calalnder input  */
#ui-datepicker-div {
	left: 594px !important;
	top: 170px !important;
	border-radius: 15px;
	box-shadow: 0 8px 20px rgb(49 52 129 / 24%);
	background: #fff;
	padding: 0;
}

.ui-datepicker
{
	z-index: 1000 !important;
}
.ui-datepicker-calendar td {
	font-family: "Product Sans";
	color: rgb(161, 161, 180);
	border-color: rgb(161, 161, 180);
	font-size: 16px !important;
	padding: 0rem 0.53em !important;
}

#ui-datepicker-div .ui-widget-header {
	background: transparent !important;
	border: 0px solid #ffffff00 !important;
}

#ui-datepicker-div .ui-datepicker-title {
	color: #1A1C3D;
	font-size: 17px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Product Sans';
}

#ui-datepicker-div table tr td:first-child {
	border-left: 0;
}

#ui-datepicker-div table tr td:last-child {
	border-right: 0;
}

#ui-datepicker-div table tr:last-child td {
	border-bottom: 0;
}

#ui-datepicker-div td {
	border: 1px solid #A1A1B4;
	padding: 0px;
}

#ui-datepicker-div td a {
	background: #fff !important;
	text-align: center;
	font-size: 12px;
	color: #1A1C3D;
	border: 0;
	line-height: 30px;
	border-radius: 15px;
}

#ui-datepicker-div td .ui-state-highlight {
	border: 1px solid #1A1C3D;
	background: #1A1C3D !important;
	color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	border-radius: 0;
}

#ui-datepicker-div .ui-datepicker-next .ui-icon {
	background-image: url(../media/home/arrowRight.png);
	background-position: center center;
}

#ui-datepicker-div .ui-datepicker-prev .ui-icon {
	background-image: url(../media/home/arrowLeft.png);
	background-position: center center;
}

#ui-datepicker-div .ui-datepicker-prev.ui-state-hover,
#ui-datepicker-div .ui-datepicker-prev.ui-state-focus,
#ui-datepicker-div .ui-datepicker-next.ui-state-hover,
#ui-datepicker-div .ui-datepicker-next.ui-state-focus {
	border: 1px solid #fff !important;
	background: #fff !important;
	font-weight: bold;
	/*color: #c77405;*/
}

#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	/*background-color: #A1A1B4;*/
}

input[type="button"] {
	-webkit-appearance: button;
	cursor: pointer;
}

.rounded-4 {
	border-radius: .5rem !important;
}

/* calalnder input  */
@media(max-width:767px){
	.flight-tabs {
	    background-color: #EBECF0;
	    border-radius: 50px;
	    /* padding: 10px; */
	    display: block !important;
	}
	.active-bg {
	    background-color: #de5921;
	}
	.active-bg  li button{
		justify-content: center;
	}
	.active-bg .nav-link.active .tab-text {
	    color: #fff !important;
	    margin-left: 0px;
	}
}