@font-face {
	font-family: "Cream Candy";
	src: url("CustomFont.eot");
	src: url("CustomFont.woff") format("woff"),
		url("../fonts/Cream Candy.otf") format("opentype"),
		url("CustomFont.svg#filename") format("svg");
}

@font-face {
	font-family: "Product Sans";
	src: url("CustomFont.eot");
	src: url("CustomFont.woff") format("woff"),
		url("../fonts/Product Sans Regular.ttf") format('truetype'),
		url("CustomFont.svg#filename") format("svg");
}

body {
	font-family: "Product Sans";
}

.banner-section {
	background-image: url('../media/hotel/hotelBg.png');
}

.top-menu {
	background: rgb(255, 255, 255, 0.9);
}

#ui-datepicker-div {
	width: 341px !important;
	left: 179px !important;
	top: 462px !important;
}

#flightbox {
	opacity: 0.9;
	padding: 2.5rem;
}

#flightbox input {
	font-size: 12px !important;
}

#flightbox .input-group {
	height: 36px !important;
}

.search-dropdown ul .row .col-4 .flag-img {
	/* width: 15px;
		margin-left: 3px; */
	margin-top: 0 !important;
}

.refundcontainers input:checked~.checkmark2,
.stopdropdown .custom-box input:checked~.checkmark {
	border-color: #45B9E2;
}

.filter-section .active-filter,
.filter-section .nav-link:active,
.filter-section .nav-link:hover {
	color: #45B9E2 !important;
}

.filter-section .hotel-filter .arrow-up {
	border: 1px solid transparent;
	border-top-color: #EBECF0;
	border-left-color: #EBECF0;
	width: 18px;
	height: 18px;
	transform: rotate(45deg);
	margin-bottom: -9px;
	background-color: #fff;
	border-top-left-radius: .25rem;
	z-index: 1050;
}

.filter-section .hotel-filter #stop-filter .show {
	box-shadow: 0 8px 25px 2px #ebecf0;
}

.filter-section .hotel-filter .checkmark {
	width: 47px;
}

.filter-section .hotel-filter .checkmark i {
	margin-left: 3px;
}

.btn-style-2 {
	background-color: #45B9E2;
	border-color: #45B9E2;
}

.btn-style-2:hover {
	background-color: #45B9E2;
	border-color: #45B9E2;
}

#flightbox .nav-pills .nav-item:last-Child {
	width: 30%;
}

#flightbox .nav-pills .nav-link.active {
	width: 100%;
}

.hotel-form .form-control {
	color: #A1A1B4;
	font-size: 12px;
}

.hotel-form select.form-control {
	height: 35px;
	border-color: #A1A1B4;
	background-color: transparent;
}

.hotel-form select.form-control option {
	background-color: #fff;
}

.property-name {
	font-size: 21px;
	font-weight: 600;
	line-height: 28px;

}

.property-name span {
	color: #A1A1B4;
	font-size: 10px;
}

.style-heading {
	color: #45B9E2;
}

.style-heading-orange {
	color: #DE5921;
}

.btn-orange {
	background-color: #FF5915;
	border-color: #FF5915;
}

.social-icons li:first-child {
	background-color: #45B9E2;
}

/* Listing Page   */
.listing-row {
	border: 1px solid #EBECF0;
	border-radius: 8px;
}

.listing-img img {
	height: 100%;
	object-fit: cover;
	border-bottom-left-radius: 8px !important;
	border-top-left-radius: 8px !important;
}

.listing-title {
	color: #1A1C3D;
	font-size: 28px;
}

.hotel-cat {
	color: #45B9E2;
	font-size: 18px;
}

.listing-info {
	color: #A1A1B4;
	font-size: 14px;
}

.hotel-price {
	color: #1B1B23;
	font-family: 'Roboto', sans-serif;
	font-size: 33px;
	letter-spacing: 1px;
	font-weight: bold;
}

.hotel-resort {
	background-color: #1A1C3D;
	height: 175px;
}

.stay-time {
	font-family: 'Roboto', sans-serif;
	color: #A1A1B4;
	font-size: 14px;
}

.listing-btn {
	background-color: #45B9E2;
	width: 100%;
	color: #fff;
	padding: 10px 0;
}

/*Hotel Summary*/
.hotel-top-bar {
	height: 90px;
}

.booking-btn {
	background-color: #45B9E2 !important;
}

.booking-btn:hover {
	background-color: #45B9E2 !important;
}

/*****Hotel Booking****/
.booking-process .nav-tabs .nav-link.active {
	color: #45B9E2;
}

.booking-process .nav-tabs .nav-link.active .counter {
	background-color: #45B9E2;
	color: #EBECF0;
}

#loginregister-btn {
	background-color: #45B9E2;
}

.bookingconfirm-btn {
	background-color: #45B9E2;
}

.labelfullname {
	color: #45B9E2
}

#paynow-btn {
	background-color: transparent;
	border: 1px solid #A1A1B4;
	color: #A1A1B4;
}

.pay-active {
	background-color: #45B9E2 !important;
	color: #fff !important;
}

/******* Rooms *******/
.room-header .stay-room {
	font-size: 16px;
}

.room-header .listing-btn {
	width: 55%;
}

button.slick-next,
button.slick-next:hover {
	position: absolute;
	bottom: 4%;
	left: 53%;
	z-index: 1;
	width: 36px;
	height: 36px;
	background-image: url("../media/hotel/listing/angle-right-solid.svg");
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	align-items: center;
	display: flex;
	margin-left: .5rem;
	padding-top: 14px;
	background-color: #45B9E2;
	border-color: #45B9E2;
	-webkit-appearance: media-slider;
}

button.slick-prev,
button.slick-prev:hover {
	position: absolute;
	bottom: 4%;
	left: 47%;
	z-index: 1;
	width: 36px;
	height: 36px;
	background-image: url(../media/hotel/listing/angle-left-solid.svg);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	align-items: center;
	display: flex;
	padding-top: 14px;
	background-color: #45B9E2;
	border-color: #45B9E2;
	-webkit-appearance: media-slider;
}

.slick-prev:before,
.slick-next:before {
	font-size: 70px;
	color: #EA8496;
	line-height: inherit;
	font-weight: bold;
}

.slider img {
	height: 660px;
	object-fit: cover;
	border-radius: 8px;
}

/*.slick-prev, .slick-next{
		background: #000;
		border-radius: 15px;
		border-color: transparent;
	}*/
.rating-data {
	border-color: #DBDBDB;
}

.rating-data h5 {
	color: #45B9E2;
	font-size: 18px;
	font-weight: 800;
}

.rating-data h6 {
	color: #A1A1B4;
	font-size: 16px;
}

.room-desc {
	padding: 1rem 0;
}

.room-desc h3 {
	color: #1A1C3D;
	font-size: 22px;
	font-weight: 800;
}

.room-desc p {
	color: #555555;
	font-size: 12px;
	line-height: 15px;
}

.room-select option {
	background-color: white;
}

.room-select .form-select {
	font-size: 16px !important;
	line-height: 2 !important;
	border: 2px solid #1B1B23;
	border-radius: 4px;
}

.nearby h4 {
	color: #1A1C3D;
	font-size: 17px;
}

.nearby h5 {
	color: #555555;
	font-size: 16px;
}

.nearby p {
	width: 70%;
}

.amenities-img .amenity-img {
	width: 7%;
}

.amenities-img .amenity-img span {
	color: #555555;
	font-size: 10px;
}

.room-row {
	border: 1px solid #EBECF0;
	border-radius: 8px;
}
.room3-form
{
	border: 2px solid #1B1B23 !important;
	border-radius: 4px !important;
}

.maincity2{
	color: white;
	font-family: "Product Sans";
	font-size: 30px;
	font-weight: bold;
}
.maincity3{
	color: white;
	font-family: "Product Sans";
	font-size: 20px;
	font-weight: bold;
}

.room-img img {
	height: 100%;
	object-fit: cover;
}

.standrd-content h4 {
	color: #1A1C3D;
	font-size: 25px;
}

.standrd-content span {
	margin-right: 0.5rem;
}

.standrd-content span img {
	height: 15px;
}

/*.price-text:not(:last-child) {
			margin-bottom: 2rem;
			margin-top: 0.5rem;
	}*/
.price-text h4 {
	color: #1A1C3D;
	font-size: 21px;
	font-weight: bold;
	padding: 10px 0;
	margin-bottom: 0;
}

.airport {
	line-height: 19px;
}

#hotelbookingconfirm-btn {
	background-color: #45B9E2;
	font-family: 'Product Sans',
		sans-serif;
	font-size: 20px !important;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
	box-shadow: 0 8px 20px 0 #ebecf0;
	padding-left: 4.5rem;
	padding-right: 4.5rem;
}

.summarylisting-img img {
	height: 90%;
	object-fit: cover;
	border-bottom-left-radius: 8px !important;
	border-top-left-radius: 8px !important;
}

/*Responsive Screen*/
@media(min-width: 767px) {
	.listing-row {
		height: 250px;
	}

	.summary-row .listing-row {
		height: 225px;
	}
}