body {
  font-family: "Product sans",
    Sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: auto;
}

.from {
  color: white;
  font-size: 11px;
  padding: 0;
  font-family: "Product sans";
}

.inputfield {
  outline: 0;
  background-color: transparent;
  border: 0;
  /* border-bottom: 2px solid white; */
  font-family: "Product sans";
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding-left: 14px;
}

.input-container {
  border-bottom: 3px solid white;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

.locationicon {
  color: white;
}

.nav-item {
  font-family: "Product sans";
  text-transform: uppercase;
  padding-right: 8px;
  padding-left: 8px;
}

.nav-item .nav-link {
  color: #1A1C3D;
  font-weight: bold;
}

.navbar-toggler-icon {
  color: brown;
  background-color: burlywood;
}

/* start Flight search */
.flight-search {
  background-color: #1A1C3D;


}

#items {
  background-color: transparent;
  border: none;
  outline: 0;
  color: white;
  font-size: 16px;
  font-family: "Product sans";
  font-weight: bold;
  padding-left: 14px;
}

option {
  background-color: #1A1C3D;
  padding-left: 20px;
}

#search-btn {

  font-size: 16px;
  background: white;
  font-family: "Product sans";
  font-weight: bold;
  margin-top: 15px;
  color: #1A1C3D;
  padding-left: 30px;
  padding-right: 30px;

}

.toway {
  width: 5% !important;
}

.planeimage {
  width: 100%;
  text-align: end;
}

.secondplaneimage {
  width: 100%;
}

.towayimage {
  text-align: end;
  margin-top: 2.8rem;
}



/* end Flight search */

/* filter section */
.filter-section {
  background: white;

  margin-top: 4px;

  box-shadow: 0 8px 20px 0 #ebecf0;
  ;
}

.navbar-brand {
  color: #1A1C3D;
  font-family: "Product sans";
  font-size: 20px !important;
  font-weight: bold;

}

.filter-section .nav-link {
  color: #A1A1B4 ;
  font-weight: 600;

}

.filter-section .nav-link:active {
  color: #1A1C3D;
}

.filter-section .nav-item {
  padding-left: 25px;
  padding-right: 25px;
}

.filter-section .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .1em;
  content: "\f078";
  font-family: 'Font Awesome 5 Free';
  border-top: 0.3em solid transparent;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  display: contents;
}

/* booking card section */
.card {
  box-shadow: 0 8px 20px 0 #ebecf0;
  border: none;


}

.card-booking-section .card-body {
  flex: 1 1 auto;
  padding: 0rem 0rem;
}

.pia {
  font-family: "Product sans";
  font-size: 13px !important;
  color: #A1A1B4;
  font-weight: bold;
}

.piaimage {
  width: 50%;
}

.cityname {
  font-family: "Product sans";
  font-size: 25px !important;
  color: #1A1C3D;
  font-weight: bold;
}

.timeandcity {
  font-family: "Product sans";
  font-size: 16px !important;
  color: #1A1C3D;
  font-weight: bold;

}

.durationstop {
  font-family: "Product sans";
  font-size: 11px !important;
  color: #A1A1B4;

}

.hoursandminute {
  font-family: "Product sans";
  font-size: 11px !important;
  color: #1A1C3D;
  font-weight: bold;
}

.ticketprice {
  font-family: "Roboto";
  font-size: 20px !important;
  color: #1A1C3D;

  font-weight: bold;
}

#select-btn {
  background-color: #DE5921;
  font-family: "Roboto";
  font-size: 13px !important;
  color: white;

  padding-left: 3rem;
  padding-right: 3rem;


}

#refund-btn {
  background-color: #00D060;
  font-family: "Roboto";
  font-size: 13px !important;
  color: white;

  padding-left: 3rem;
  padding-right: 3rem;


}

.tabs-section {
  background-color: #F5F5F8;
  width: 100%;
  margin: auto;
}

.tabs-section .nav-tabs .nav-link {
  color: #A1A1B4;
  font-family: "Product sans";
  font-size: 17px !important;



}

/* .tabs-section .nav-tabs .nav-link .active{
      color: #1A1C3D;
     
  } */
.tabs-section .nav-tabs {
  border-bottom: 0px solid transparent;
}

.tabs-section .nav-tabs .nav-link.active {
  color: #1A1C3D;
  background-color: transparent;
  font-weight: bold;
  border-color: transparent;
}

.tabs-section .nav-tabs .nav-link:focus,
.tabs-section .nav-tabs .nav-link:hover {
  /* color: #4c4d58; */
  background-color: transparent;
  /* border: none; */

  border-color: transparent;
}

.flight-details {
  font-family: "Product sans";
  font-size: 14px !important;
  color: #A1A1B4;
}

.flight-details-heading {
  font-family: "Product sans";
  font-size: 20px !important;
  color: #1A1C3D;
  font-weight: bold;
}

.dh {
  text-align: center !important;
}

/* //hide show section */
.hideshow {
  background-color: white;
  box-shadow: 0 0px 10px 0 #ebecf0;

}

.briefcase {
  color: #1A1C3D;
  padding-left: 1rem;

}

.toggle-arrow:not(.collapsed) {
  color: #A1A1B4 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.toggle-arrow {
  position: relative;
  display: flex;
  align-items: center;
  width: 50px !important;
  padding: 0 !important;
  font-size: 1rem;
  padding-left: .1rem;
  color: #A1A1B4 !important;
  text-align: left;
  background-color: transparent !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.checkdetail {
  color: #A1A1B4;
  padding-left: .7rem;
}

/* table css */
th {
  font-family: "Product sans";
  font-size: 16px !important;
  color: #1A1C3D;
  font-weight: bold;
}

td {
  font-family: "Product sans";
  font-size: 12px !important;
  color: #A1A1B4;

}

.econmy-section {
  background-color: white;
  box-shadow: 0 8px 10px 0 #ebecf0;
  margin: 0;
}

.baggage-include {
  font-family: "Product sans";
  font-size: 15px !important;
  color: #A1A1B4;
  padding-left: 1rem;
}

.brie-fcase {
  color: #1A1C3D;
}

#farebtn {
  background-color: #DE5921;
  font-family: "Roboto";
  font-size: 13px !important;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}

.accordion-button:not(.collapsed) {
  color: #25272a !important;
  margin-top: -2px !important;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-item {
  background-color: #fff;
  border: 0px solid transparent !important;
}

.accordion-body {
  padding: 0rem 0rem !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 10px !important;
  content: "";
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .1s ease-in-out !important;
}



/* summary page */
.maincity {
  color: white;
  font-family: "Product sans";
  font-weight: bold;

}

.airport {
  color: white;
  font-family: "Product sans";
  font-size: 12px !important;

}
/* footer */
.main-heading
{
   font-family: "Product sans";
   font-size: 70px;
   color: #232323;
   font-weight: bold;
}
.style-heading
{
  font-family: "Cream Candy";
  font-size: 95px;
  color: #DE5921;
  margin-top: -71px;
}
.footer {
  padding-top: 6rem;
  padding-bottom: 1rem;
}
.footer-row
{
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.social-icons li:first-child {
  background-color: #DE5921;
}

.social-icons li {
  width: 55px;
  height: 55px;
  background-color: #ECEEF0;
  border-radius: 50%;
  padding: 14px;
  margin-right: 2.5rem !important;
}

.menu-links li {
  margin-right: 2rem !important;
}

.menu-links li a {
  color: #1A1C3D;
  text-decoration: none;
  font-family: "Product sans";
  font-size: 1.3rem;
}


.copyright {
  font-size: 15px;
  color: #92989F;
  font-family: "Product sans";
  margin-top: 2rem;
}
#farebtn2 {
  background-color: #DE5921;
  font-family: "Roboto";
  font-size: 13px !important;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* summary box */

.maincitymobile
{
  text-align: end;
  padding-right: 4rem;
}
.summarycolumn
{
  padding-right: 5rem;
  padding-left: 5rem;
}


.summarybox
{
  background-color: white;
  box-shadow: 0 8px 10px 0 #ebecf0;
  padding-top: 1rem;
   border: 1px solid #EBECF0;
   border-radius: 8px;
  padding-bottom: 1rem;
}
.summary-name
{
   font-family: "Product sans";
    color: #1A1C3D;
    font-size: 35px;
    padding-top: 9px;
    font-weight: bold;
    text-align: center;
}
.summarydetailscl
{
  font-family: "Product sans";
  font-size: 13px;
  color: #92989F;
}
.summarydetailpkr
{
  font-family: "Product sans";
  font-size: 13px;
  padding-left: 5.4rem;
  color: #92989F;
}
.taxdetailpkr
{
 font-family: "Product sans";
 font-size: 13px;
 padding-left: 7.8rem;
 color: #92989F;
}
hr
{
  margin: auto !important;
  opacity: .6;
}
.summarydetailtext
{
  font-family: "Product sans";
  font-size: 14px;
  color: #1A1C3D;
  font-weight: bold;
}
.taxdetailprice
{
  font-family: "Product sans";
  font-size: 14px;
  padding-left: 6.9rem;
  color: #1A1C3D;
   font-weight: bold;
}
.promo
{
  font-size: 14px;
  font-family: "Product sans";
}
.promo::placeholder {
  font-size: 11px;
  font-family: "Product sans";
  
}
.promo:focus {
  color: #1A1C3D;
  background-color: #fff;
  border-color: #1A1C3D !important;
  outline: 0;
  box-shadow: none !important;
}
#cb-btn {
  background-color: #DE5921;
  font-family: "Roboto";
  font-size: 13px !important;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}
/* Booking Process page */
.booking-process {
  background-color: #1A1C3D;
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin: auto;
}

.booking-process .nav-tabs .nav-link {
  color: #EBECF0;
  font-family: "Product sans";
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 28px !important;
  text-transform: uppercase;



}

.booking-process .nav-tabs {
  border-bottom: 0px solid transparent;
}

.booking-process .nav-tabs .nav-link.active {
  color: #DE5921;
  background-color: transparent;
  font-weight: bold;
  border-color: transparent;

}

.booking-process .nav-tabs .nav-link:focus,
.booking-process .nav-tabs .nav-link:hover {
  /* color: #4c4d58; */
  background-color: transparent;
  /* border: none; */

  border-color: transparent;
}
.counter 
{
  height: 40px;
  width: 40px;
  color: #1A1C3D;
  border-radius: 100%;
  background-color: #EBECF0;
  display: inline-block;
}
.booking-process .nav-tabs .nav-link.active .counter{
  background-color:#DE5921;
   color: #EBECF0;
}

.contactdetail
{
  background-color: white;
  box-shadow: 0 8px 10px 0 #ebecf0;
  margin: 0;
}
.cd
{
  background-color: #1A1C3D;
  color: white;
  width: 19%;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  
  font-family: "Product sans";
}
.namediv
{
  padding-left: 4rem;
}
.labelname
{
  font-family: "Product sans";
  font-size: 14px;
  color: #A1A1B4;
  margin: auto;
}
.name
{
  font-family: "Product sans";
  font-size: 18px;
  color: #1A1C3D;
  font-weight: bold;
  
}
.mobilcolumn
{
  padding-left: 4.8rem !important;
}
.labelfullname
{
  font-size: 38px;
  color: #DE5921;
  font-family: "Product sans";
  font-weight: bold;

}

#paynow-btn {
  background-color: #DE5921;
  font-family: "Product sans";
  font-size: 22px !important;
  color: white;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
#paylater-btn {
  /* background-color: #DE5921; */
  font-family: "Product sans";
  font-size: 22px !important;
  border:1px solid #A1A1B4;
  color: #A1A1B4;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}






























/* Media Queries */

@media (min-width: 992px) {

}

@media (max-width: 1200px) {
  .navbar-brand {
    text-align: right;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .planeimage {
    width: 15%;
    text-align: center;
  }

  .piaimage {
    width: 20%;
  }

  .secondplaneimage {
    width: 50%;
  }

  .dh {
    text-align: start !important;

  }
  .maincitymobile {
    text-align: start;
  }

  .maincity {
    font-size: 20px;
  }

  .summarycolumn {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .summaryplain {
    width: 100%;
  }

  .airport {
    font-size: 10px;
  }
  .summarybox {
    background-color: white;
    box-shadow: 0 8px 10px 0 #ebecf0;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid #EBECF0;
    margin-left: 20px;
    border-radius: 8px;
    padding-bottom: 1rem;
  }
}

@media(max-width: 767px) {


  .navbar-brand {
    text-align: right;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  /* .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
  } */
  .planeimage {
    width: 15%;
    text-align: center;
  }

  .toway {
    width: 100% !important;
  }

  .towayimage {
    text-align: start;
    margin-top: .8rem;

  }

  .tabs-section .nav-tabs .nav-link {
    color: #A1A1B4;
    font-family: "Product sans";
    font-size: 13px !important;
  }

  .piaimage {
    width: 20%;
  }

  .secondplaneimage {
    width: 50%;
  }

  .dh {
    text-align: start !important;

  }

  th {
    font-family: "Product sans";
    font-size: 14px !important;
    color: #1A1C3D;
    font-weight: bold;
  }

  td {
    font-family: "Product sans";
    font-size: 12px !important;
    color: #A1A1B4;

  }

  #farebtn {
    background-color: #DE5921;
    font-family: "Roboto";
    font-size: 11px !important;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #farebtn2 {
    background-color: #DE5921;
    font-family: "Roboto";
    font-size: 13px !important;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .cityname {
    font-family: "Product sans";
    font-size: 18px !important;
    color: #1A1C3D;
    font-weight: bold;
  }

  .flight-details-heading {
    font-family: "Product sans";
    font-size: 16px !important;
    color: #1A1C3D;
    font-weight: bold;
  }

  .ticketprice {
    font-family: Roboto;
    color: rgb(26, 28, 61);
    font-weight: bold;
    font-size: 16px !important;
  }

  #select-btn {
    background-color: #DE5921;
    font-family: "Roboto";
    font-size: 13px !important;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .main-heading {
    font-family: "Product sans";
    font-size: 45px;
    color: #232323;
    font-weight: bold;
  }

  .style-heading {
    font-family: "Cream Candy";
    font-size: 60px;
    color: #DE5921;
    margin-top: -51px;
  }
  .social-icons li {
    width: 55px;
    height: 55px;
    background-color: #ECEEF0;
    border-radius: 50%;
    padding: 14px;
    margin-right: 2rem !important;
  }
  .summarybox {
    background-color: white;
    box-shadow: 0 8px 10px 0 #ebecf0;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid #EBECF0;
    margin-left: 20px;
    border-radius: 8px;
    padding-bottom: 1rem;
  }
  .maincitymobile
  {
    text-align: start;
  }
  .maincity
  {
    font-size: 20px;
  }
  .summarycolumn {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .summaryplain
  {
    width: 100%;
  }
  .airport
  {
    font-size: 10px;
  }
  .namediv {
    padding-left: 1rem;
  }

  .labelname {
    font-family: "Product sans";
    font-size: 12px;
    color: #A1A1B4;
    margin: auto;
  }

  .name {
    font-family: "Product sans";
    font-size: 14px;
    color: #1A1C3D;
    font-weight: bold;

  }

  .mobilcolumn {
    padding-left: 1.8rem !important;
  }
  .cd {
    background-color: #1A1C3D;
    color: white;
    width: 30%;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    font-family: "Product sans";
  }
  .summarycolumn2 {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 4rem;
  }
}